@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	/* overflow: hidden; */
	background-color: black;
}

canvas {
	position: fixed;
	inset: 0;
	z-index: 0;
}

#app {
	@apply z-50 relative;
}
